.ruby-version
.ruby-gemset
.rvmrc
*.DS_Store
*.egg-info
*.pyc
.terraform
*.swp
*.swo
*.log
*.war
*~
splunk/apps/SplunkAppforAWS/log/*
*.iml
*.ipr
*.iws
.idea/
.project
**/.idea
**/.idea/
.project
.settings
.README.md.html

